@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPNeuebit';
  src: url('/assets/PPNeueBit.otf') format('opentype');
}

html, body {
  overflow: hidden;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate {
  background-size: 200% 200%;
  animation: gradient 10s linear infinite;
}
