@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPNeuebit';
  src: url('/PPNeuebit.otf') format('opentype');
}

html, body {
  overflow: hidden;
  height: 100%;
}
